In [1]:
import pandas as pd
import seaborn as sns
penguins = sns.load_dataset('penguins')
penguins.info()
print(penguins["species"].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

In [2]:
gentoo_flippers = penguins.loc[penguins["species"] == 'Gentoo', "flipper_length_mm"]
# adelie_flippers_sample = list(penguins.loc[penguins["species"] == 'Adelie', "flipper_length_mm"].sample(49))
gentoo_flippers_sample01 = list(gentoo_flippers[:49])
gentoo_flippers_sample02 = list(gentoo_flippers[50:99])

In [3]:
compare_df = pd.DataFrame({"gentoo_flippers_sample01": gentoo_flippers_sample01, "gentoo_flippers_sample02": gentoo_flippers_sample02})
compare_df

    gentoo_flippers_sample01  gentoo_flippers_sample02
0                      211.0                     210.0
1                      230.0                     220.0
2                      210.0                     210.0
3                      218.0                     225.0
4                      215.0                     217.0
5                      210.0                     220.0
6                      211.0                     208.0
7                      219.0                     220.0
8                      209.0                     208.0
9                      215.0                     224.0
10                     214.0                     208.0
11                     216.0                     221.0
12                     214.0                     214.0
13                     213.0                     231.0
14                     210.0                     219.0
15                     217.0                     230.0
16                     210.0                     214.0
17                     221.0                     229.0
18                     209.0                     220.0
19                     222.0                     223.0
20                     218.0                     216.0
21                     215.0                     221.0
22                     213.0                     221.0
23                     215.0                     217.0
24                     215.0                     216.0
25                     215.0                     230.0
26                     216.0                     209.0
27                     215.0                     220.0
28                     210.0                     215.0
29                     220.0                     223.0
30                     222.0                     212.0
31                     209.0                     221.0
32                     207.0                     212.0
33                     230.0                     224.0
34                     220.0                     212.0
35                     220.0                     228.0
36                     213.0                     218.0
37                     219.0                     218.0
38                     208.0                     212.0
39                     208.0                     230.0
40                     208.0                     218.0
41                     225.0                     228.0
42                     210.0                     212.0
43                     216.0                     224.0
44                     222.0                     214.0
45                     217.0                     226.0
46                     210.0                     216.0
47                     225.0                     222.0
48                     213.0                     203.0

In [8]:
from scipy.stats import ttest_ind
t_stat, p_val = ttest_ind(gentoo_flippers_sample01, gentoo_flippers_sample02)
print(f"t_stat: {t_stat}, p_val: {p_val}")
import numpy as np
print(f"mean для выборки 1: {np.mean(gentoo_flippers_sample01)}\nmean для выборки 2: {np.mean(gentoo_flippers_sample02)}")

t_stat: -2.6036553608549458, p_val: 0.01068756602801877
mean для выборки 1: 215.26530612244898
mean для выборки 2: 218.55102040816325